SPRING_PROFILES_ACTIVE=local
DATABASE_URL=
DB_HOST=localhost
DB_PORT=5432
DB_NAME=bolasdejairo
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_INIT_ENABLED=true
DB_POOL_INITIAL_SIZE=0
DB_POOL_MAX_SIZE=20
DB_POOL_MAX_IDLE_TIME=30m
GCP_CLOUD_SQL_ENABLED=false
INSTANCE_CONNECTION_NAME=
PORT=8080
